version: "3.9"

services:
  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: nextshopsphere
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123    # password for deployment
      MYSQL_ROOT_PASSWORD: root123
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql


  backend:
    build: ./backend
    container_name: django_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=nextshopsphere
      - DB_USER=admin
      - DB_PASSWORD=admin123

  frontend:
    build: ./frontend
    container_name: next_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data:
